# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [2]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path)

# Display sample data
city_data_df

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country
0,0,Khatanga,71.9667,102.5000,12.49,94,41,9.33,RU
1,1,Dongsheng,39.8161,109.9776,34.12,34,0,7.34,CN
2,2,Puerto Ayora,-0.7393,-90.3518,76.96,85,80,8.99,EC
3,3,Bethel,41.3712,-73.4140,66.45,52,0,9.22,US
4,4,Kodiak,57.7900,-152.4072,49.51,81,100,5.75,US
...,...,...,...,...,...,...,...,...,...
681,681,Cayenne,4.9333,-52.3333,89.64,55,20,10.36,GF
682,682,Deer Lake,49.1667,-57.4316,53.46,94,100,5.75,CA
683,683,Phan Thiet,10.9333,108.1000,77.27,87,100,2.89,VN
684,684,Mount Pleasant,32.7941,-79.8626,84.99,41,0,5.75,US
685,685,Lima,-12.0432,-77.0282,74.89,58,75,13.80,PE

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [3]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your trip? "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [4]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
                                    
# Display sample data
preferred_cities_df.head(10)

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country
2,2,Puerto Ayora,-0.7393,-90.3518,76.96,85,80,8.99,EC
6,6,Faanui,-16.4833,-151.7500,78.94,66,8,17.09,PF
7,7,Avarua,-21.2078,-159.7750,75.25,78,75,6.91,CK
8,8,San Pedro,14.3500,121.0167,80.35,90,75,8.05,PH
15,15,Los Llanos De Aridane,28.6585,-17.9182,71.35,89,20,4.00,ES
20,20,Ponta Do Sol,32.6667,-17.1000,74.03,75,27,3.87,PT
21,21,Hilo,19.7297,-155.0900,87.28,82,75,4.61,US
24,24,Atuona,-9.8000,-139.0333,76.23,72,5,11.79,PF
30,30,Carepa,7.7585,-76.6525,83.03,82,100,4.59,CO
34,34,Mahebourg,-20.4081,57.7000,71.89,78,75,5.75,MU

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [5]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities.head(10)

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country
2,2,Puerto Ayora,-0.7393,-90.3518,76.96,85,80,8.99,EC
6,6,Faanui,-16.4833,-151.7500,78.94,66,8,17.09,PF
7,7,Avarua,-21.2078,-159.7750,75.25,78,75,6.91,CK
8,8,San Pedro,14.3500,121.0167,80.35,90,75,8.05,PH
15,15,Los Llanos De Aridane,28.6585,-17.9182,71.35,89,20,4.00,ES
20,20,Ponta Do Sol,32.6667,-17.1000,74.03,75,27,3.87,PT
21,21,Hilo,19.7297,-155.0900,87.28,82,75,4.61,US
24,24,Atuona,-9.8000,-139.0333,76.23,72,5,11.79,PF
30,30,Carepa,7.7585,-76.6525,83.03,82,100,4.59,CO
34,34,Mahebourg,-20.4081,57.7000,71.89,78,75,5.75,MU

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [6]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()

# Display sample data
hotel_df.head()

                     City Country  Max Temp      Lat       Lng
2            Puerto Ayora      EC     76.96  -0.7393  -90.3518
6                  Faanui      PF     78.94 -16.4833 -151.7500
7                  Avarua      CK     75.25 -21.2078 -159.7750
8               San Pedro      PH     80.35  14.3500  121.0167
15  Los Llanos De Aridane      ES     71.35  28.6585  -17.9182

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [7]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df.head()

                     City Country  Max Temp      Lat       Lng Hotel Name
2            Puerto Ayora      EC     76.96  -0.7393  -90.3518
6                  Faanui      PF     78.94 -16.4833 -151.7500
7                  Avarua      CK     75.25 -21.2078 -159.7750
8               San Pedro      PH     80.35  14.3500  121.0167
15  Los Llanos De Aridane      ES     71.35  28.6585  -17.9182

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [8]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [9]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

KeyboardInterrupt:

In [10]:
# Display sample data
hotel_df.head(5)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Puerto Ayora,EC,76.96,-0.7393,-90.3518,Finch Bay Galapagos Hotel
6,Faanui,PF,78.94,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
7,Avarua,CK,75.25,-21.2078,-159.7750,Paradise Inn
8,San Pedro,PH,80.35,14.3500,121.0167,Palines Apartment and Guesthouse
15,Los Llanos De Aridane,ES,71.35,28.6585,-17.9182,Valle Aridane

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [11]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

# Display sample data
clean_hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Puerto Ayora,EC,76.96,-0.7393,-90.3518,Finch Bay Galapagos Hotel
6,Faanui,PF,78.94,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
7,Avarua,CK,75.25,-21.2078,-159.7750,Paradise Inn
8,San Pedro,PH,80.35,14.3500,121.0167,Palines Apartment and Guesthouse
15,Los Llanos De Aridane,ES,71.35,28.6585,-17.9182,Valle Aridane

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [12]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [13]:
# Set the file name.
output_data_file = "WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
city_data_df.to_csv(output_data_file)

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [14]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd> {Max Temp} Â°F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [15]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Finch Bay Galapagos Hotel</dd>\n<dt>City</dt><dd>Puerto Ayora</dd>\n<dt>Country</dt><dd>EC</dd>\n<dt>Current Weather</dt><dd> 76.96 Â°F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Bora-Bora Pearl Beach Resort & Spa</dd>\n<dt>City</dt><dd>Faanui</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd> 78.94 Â°F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Paradise Inn</dd>\n<dt>City</dt><dd>Avarua</dd>\n<dt>Country</dt><dd>CK</dd>\n<dt>Current Weather</dt><dd> 75.25 Â°F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Palines Apartment and Guesthouse</dd>\n<dt>City</dt><dd>San Pedro</dd>\n<dt>Country</dt><dd>PH</dd>\n<dt>Current Weather</dt><dd> 80.35 Â°F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Valle Aridane</dd>\n<dt>City</dt><dd>Los Llanos De Aridane</dd>\n<dt>Country</dt><dd>ES</dd>\n<dt>Current Weather</dt><dd> 71.35 Â°F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel do Campo</dd>\n<dt>City</dt><dd>Ponta Do Sol</dd>\n<dt>Country</dt><dd>PT</dd>\n<dt>Current Weather</dt><dd> 74.03 Â°F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hilo Hawaiian Hotel</dd>\n<dt>City</dt><dd>Hilo</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd> 87.28 Â°F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Villa Enata</dd>\n<dt>City</dt><dd>Atuona</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd> 76.23 Â°F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>HOTEL EL EDÃ‰N</dd>\n<dt>City</dt><dd>Carepa</dd>\n<dt>Country</dt><dd>CO</dd>\n<dt>Current Weather</dt><dd> 83.03 Â°F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Shandrani Beachcomber Resort & Spa</dd>\n<dt>City</dt><dd>Mahebourg</dd>\n<dt>Country</dt><dd>MU</dd>\n<dt>Current Weather</dt><dd> 71.89 Â°F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [16]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
2   -0.7393  -90.3518
6  -16.4833 -151.7500
7  -21.2078 -159.7750
8   14.3500  121.0167
15  28.6585  -17.9182
20  32.6667  -17.1000
21  19.7297 -155.0900
24  -9.8000 -139.0333
30   7.7585  -76.6525
34 -20.4081   57.7000

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [22]:
# Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Create a figure to add the Google map as a layer
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# save image

# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))